<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>

<h1>회원가입</h1>

<p th:text="${errorMessage}"></p>

<form th:action="@{/member/join}" th:object="${memberCreateDto}" method="post">

  <div>
    <label for="loginId">아이디</label>
    <input type="text" id="loginId" th:field="*{loginId}">
    <p th:errors="*{loginId}" th:if="${#fields.hasErrors('loginId')}"></p>
  </div>

  <div>
    <label for="password">비밀번호</label>
    <input type="password" id="password" th:field="*{password}">
    <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
  </div>

  <div>
    <label for="username">닉네임</label>
    <input type="text" id="username" th:field="*{username}">
    <p th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
  </div>

  <button type="submit">가입하기</button>
  <br>
  <a th:href="@{/member/login}">로그인 화면으로 이동</a>

</form>

</body>
</html>